<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css">
    <title>F1 Fun - F1 Anthems</title>
</head>
<body>
   <h1>F1 Anthems</h1>
   <table style="width:100%">
    <tr>
      <th>Country</th>
      <th>Driver Winners</th>
      <th>Constructor Winners</th>
      <th>Driver and Constructor same country</th>
      <th>Total Anthems played</th>
    </tr>
        {% for country, values in countries %}   
            <tr>
                <td>{{ country }}</td>
                <td>{{ values['driver'] }}</td>
                <td>{{ values['constructor'] }}</td>
                <td>{{ values['same_country'] }}</td>
                <td>{{ values['total'] }}</td>
             </tr>
         {% endfor %}
</body>
</html>